@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f4f4f4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* styles.css
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #2c3e50;
  color: white;
  padding: 10px 0;
}

main {
  padding: 20px;
}

ul#news-list {
  list-style: none;
  padding: 0;
}

ul#news-list li {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul#news-list li h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

ul#news-list li p {
  font-size: 14px;
  color: #666;
} */